:root {
  --mainWhite: #f7f9f9;
  --mainBrown: #a76d60;
  --darkBrown: #601700;
}
body {
  background: var(--mainWhite);
}
.input-group-text {
  background: var(--mainBrown);
  color: var(--mainWhite);
  border-color: var(--mainBrown);
}
.form-control {
  border: 0.2rem solid var(--mainBrown);
}
.submitBtn {
  color: var(--mainWhite);
  background: #A76D60;
  border: 0.2rem solid #A76D60;
  /* transition: all 1s ease-in-out; */
}
.submitBtn:hover {
  background: var(--darkBrown);
  color: var(--mainWhite);
  border: 0.2rem solid var(--darkBrown);
}
.fail {
  border-color: red;
}
.complete {
  border-color: green;
}
.feedback {
  display: none;
}
.loading {
  display: none;
}
:disabled {
  opacity: 0.3 !important;
}
.submitBtn:disabled:hover {
  color: var(--mainWhite);
  background: #A76D60;
  border: 0.2rem solid #A76D60;
  opacity: 0.3 !important;
}
.showItem {
  display: block;
}

.msgErrorOn {
  color: red;
  font-weight: bold;
  margin-top: -15px;
}

.msgErrorOff {
  display: none;
}